@model IEnumerable<BioskopMVC.Models.Person>

<h2>Persons LIst</h2>

<table class="table">
    <thead>
        <tr>
            <th>Person Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Nationality</th>            
        </tr>
    </thead>
    <tbody>
        @foreach(var person in Model)
        {
            <tr>
                <td>@person.PersonId</td>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.DateOfBirth.ToShortDateString()</td>
                <td>@person.Nationality.Name</td>
                <td>
                    <a href="@Url.Action("Edit", new {id = person.PersonId})" class="btn btn-primary">Edit</a> |
                    <a href="@Url.Action("Delete", new {id = person.PersonId})" class =" btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create") class="btn btn-success">Add New Person</a> 